@import "@fortawesome/fontawesome-free/css/all.min.css";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #080403;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}